body {
    background-color: #56a3f0;
    text-align: center;
    color: #56c7f0;
    border-radius: 30px;
}
h1 {
    color: #431df0;
    text-align: center;
}
h2 {
    color: #0072c9;
    text-align: center;
}
h3 {
    color: #f0241d;
    text-align: center;
}
p {
   color: #0011c9;
   text-align: center;
}
.blog{
    background-color: #0095ff;
    border-radius: 30px;
    text-align: center;
}
